@import url(//fonts.googleapis.com/css?family=Roboto);

// == Colors
//
//##

// Color swatches
$turquoise:                 #1abc9c;
$green-sea:                 #16a085;

$emerald:                   #2ecc71;
$nephritis:                 #27ae60;

$peter-river:               #3498db;
$belize-hole:               #2980b9;

$amethyst:                  #9b59b6;
$wisteria:                  #8e44ad;

$wet-asphalt:               #34495e;
$midnight-blue:             #2c3e50;

$sun-flower:                #f1c40f;
$orange:                    #f39c12;

$carrot:                    #e67e22;
$pumpkin:                   #d35400;

$alizarin:                  #e74c3c;
$pomegranate:               #c0392b;

$clouds:                    #ecf0f1;
$silver:                    #bdc3c7;

$concrete:                  #95a5a6;
$asbestos:                  #7f8c8d;

// Grays
$gray:                      $concrete;
$gray-light:                $silver;
$inverse:                   white;

// Brand colors
$brand-primary:             $wet-asphalt;
$brand-secondary:           $turquoise;
$brand-success:             $emerald;
$brand-warning:             $sun-flower;
$brand-danger:              $alizarin;
$brand-info:                $peter-river;

// Social colors
$social-pinterest:          #cb2028;
$social-linkedin:           #0072b5;
$social-stumbleupon:        #ed4a13;
$social-googleplus:         #2d2d2d;
$social-facebook:           #2f4b93;
$social-twitter:            #00bdef;

$primaryColor: $wet-asphalt;
$accentColor: $turquoise;
$darkBgColor: $midnight-blue;
$lightBgColor: $inverse;
$lightTextColor: $turquoise;
$darkTextColor: #212121;

$headerHeight: 40px;
$sidebarWidth: 200px;

body {
  // browsers default to 16px for font-size,
  // so setting top-level font-size to 62.5%
  // scales 1rem to equal 10px.
  font: 62.5% 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
